$color-gray50: #f8fafc;
$color-gray100: #f3f4f6;
$color-gray200: #e5e7eb;
$color-gray300: #d1d5db;
$color-gray400: #9ca3af;
$color-gray500: #6b7280;
$color-gray600: #4b5563;
$color-gray700: #374151;
$color-gray800: #1f2937;
$color-gray900: #111827;
$color-gray950: #030712;
$color-red500: #ef4444;
$color-green500: #22c55e;
$color-orange400: #fb923c;
$color-orange100: #ffedd5;

// Colors light mode
$color-brunswickGreen: #214b43;
$color-darkGreen: #14302a;
$color-ivory: #fafdeb;
$color-mintGreen: #cff3eb;
$color-richBlack: #161b21;

// Colors dark mode
$color-aquamarine: #6cf8c4;
$color-viridian: #33755c;
$color-night: #050e0c;

// Light mode
$color-background-light: $color-ivory;
$color-header-light: $color-richBlack;
$color-text-light: $color-richBlack;

$color-messageUser-text-light: $color-ivory;
$color-messageUser-background-light: $color-brunswickGreen;

$color-button-background-light: $color-brunswickGreen;
$color-button-text-light: $color-ivory;
$color-button-background-hover-light: $color-darkGreen;
$color-toggleButton-light: $color-brunswickGreen;

$color-lines-light: $color-brunswickGreen;

$color-navbar-text-light: $color-brunswickGreen;
$color-navbar-hover-light: $color-brunswickGreen;
$color-navbar-text-hover-light: $color-ivory;

$color-integratedLink-background-light: $color-mintGreen;
$color-integratedLink-text-light: $color-brunswickGreen;
$color-integratedLink-bakground-hover-light: $color-brunswickGreen;
$color-integratedLink-text-hover-light: $color-ivory;

$color-normalLink-text-light: $color-brunswickGreen;
$color-normalLink-text-hover-light: $color-richBlack;

// Dark mode
$color-background-dark: $color-richBlack;
$color-header-dark: $color-ivory;
$color-text-dark: $color-ivory;

$color-messageUser-text-dark: $color-aquamarine; //*
$color-messageUser-background-dark: $color-night; //*
$color-messageResponse-text-dark: $color-ivory;
// $color-messageResponse-background-dark: ;
$color-typingIndicator-dark: $color-aquamarine;

$color-button-background-dark: $color-aquamarine;
$color-button-text-dark: $color-richBlack;
$color-button-background-hover-dark: $color-viridian;
$color-button-text-hover-dark: $color-ivory;
$color-toggleButton-dark: $color-aquamarine;

$color-lines-dark: $color-aquamarine;

$color-navbar-text-dark: $color-aquamarine;
$color-navbar-background-hover-dark: $color-aquamarine;
$color-navbar-text-hover-dark: $color-richBlack;

$color-integratedLink-background-dark: $color-night;
$color-integratedLink-text-dark: $color-aquamarine;
$color-integratedLink-bakground-hover-dark: $color-aquamarine;
$color-integratedLink-text-hover-dark: $color-richBlack;

$color-normalLink-text-dark: $color-aquamarine;
$color-normalLink-text-hover-dark: $color-ivory;

$font-family: 'Inter', sans-serif;
$font-headers: 'JetBrains Mono', monospace;
