@use '../abstracts/variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$headings: h1, h2, h3, h4, h5, h6;

@each $heading in $headings {
  #{$heading} {
    font-family: vars.$font-headers;
    font-weight: 700;
    color: vars.$color-gray700;
  }
}
