@use 'sass:map';
@use '../abstracts/variables' as vars;

$light-theme: (
  background: vars.$color-background-light,
  text: vars.$color-text-light,
  primary: vars.$color-ivory,
  secondary: vars.$color-brunswickGreen,
  accent: vars.$color-mintGreen,
  divider: vars.$color-brunswickGreen,
);

$dark-theme: (
  background: vars.$color-background-dark,
  text: vars.$color-text-dark,
  primary: vars.$color-aquamarine,
  secondary: vars.$color-richBlack,
  accent: vars.$color-aquamarine,
  divider: vars.$color-aquamarine,
);

@mixin theme($theme-map) {
  background-color: map.get($theme-map, background);
  color: map.get($theme-map, text);

  .primary {
    color: map.get($theme-map, primary);
  }

  .secondary {
    color: map.get($theme-map, secondary);
  }

  .accent {
    color: map.get($theme-map, accent);
  }
}
