@use '../abstracts/variables' as vars;

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: vars.$color-gray900;
  border: 2px solid vars.$color-lines-light;

  &__main{
    display: flex;
    flex-direction: column;
    border: 2px solid vars.$color-lines-light;
  }

  &__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__section-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }

  .about__section-description{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .about__title-wrapper{
    text-align: center;
    border-top: 2px solid vars.$color-lines-light;
    border-bottom: 2px solid vars.$color-lines-light;
    padding: 1em;
  }

  .about__text{
    padding: 1em;
    max-width: 600px;
  }

  &__link{
    border-top : 2px solid vars.$color-lines-light;
    text-align: center;
    padding: 1em;
    background-color: vars.$color-integratedLink-background-light;

    &:hover{
      background-color: vars.$color-integratedLink-bakground-hover-light;

      .about__link--anchor{
        color: vars.$color-integratedLink-text-hover-light;
      }
    }

    &--anchor{
      text-decoration: none;
      color: vars.$color-integratedLink-text-light;
    }
  }

  &__title {
    font-size: 2em;
  }

}


/* md */
@media (min-width: 768px){  
  .about__section{
    flex-direction: row;
  }

  .about .about__title-wrapper { 
    border-top: none;
  }

  .about__section-img{
    border-right: 2px solid vars.$color-lines-light;
  }

} 

body.dark-mode .about {
  color: vars.$color-gray50;
}

body.dark-mode .about__title {
  color: vars.$color-gray200;
}

body.dark-mode .about__description {
  color: vars.$color-gray100;
}
