@use 'sass:color';
@use '../abstracts/variables' as vars;
@use '../components/button';

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  border: 2px solid vars.$color-lines-light;
  height: 100vh;

  &__img img{
    width: 100px;
  }

  &__number{
    font-size: 8em;
    font-family: vars.$font-headers;
  }

  &__title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  &__button {
    @extend .btn;
    margin-top: 2em;
  }

  &__image {
    margin-top: 2em;
    max-width: 100%;
    height: auto;
  }
}

body.dark-mode .not-found {
  color: vars.$color-text-dark;
  border: 2px solid vars.$color-lines-dark;
}

body.dark-mode .not-found__title {
  color: vars.$color-gray200;
}

body.dark-mode .not-found__link {
  color: vars.$color-gray50;
}
