@use '../abstracts/variables' as vars;

.btn {
  padding: 1em 2em;
  color: vars.$color-button-text-light;
  background-color: vars.$color-button-background-light;
  font-family: vars.$font-family;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.7s ease;

  &:hover {
    background-color: vars.$color-button-background-hover-light;
  }
}

body.dark-mode .btn {
  color: vars.$color-button-text-dark;
  background-color: vars.$color-button-background-dark;

  &:hover {
    background-color: vars.$color-button-background-hover-dark;
    color: vars.$color-button-text-hover-dark;
  }
}
