@use '../abstracts/variables' as vars;

.input-component {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
  border: 1px solid vars.$color-gray700;

  &__input {
    outline: none;
    flex: 1;
    padding: 0.5em;
    border: 2px solid vars.$color-gray800;
    box-shadow: -3px 5px vars.$color-gray800;
    font-size: 18px;
    font-family: vars.$font-family;
    background-color: vars.$color-gray50;
    color: vars.$color-gray900;
    transition: all 0.3s ease-in-out;
  }
}

body.dark-mode .input-component__input {
  background-color: vars.$color-gray900;
  color: vars.$color-gray50;
  border-color: vars.$color-gray50;
  box-shadow: -3px 5px vars.$color-gray50;
}
