@use '../abstracts/variables' as vars;

.input-component {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
  border: 2px solid vars.$color-lines-light;


  &__input {
    outline: none;
    flex: 1;
    padding: 0.5em;
    border: 2px solid vars.$color-lines-light;
    font-size: 18px;
    font-family: vars.$font-family;
    background-color: vars.$color-background-light;
    color: vars.$color-gray900;
    transition: all 0.3s ease-in-out;
  }
}

body.dark-mode .input-component__input {
  background-color: vars.$color-gray900;
  color: vars.$color-text-dark;
  border-color: vars.$color-lines-dark;
}

body.dark-mode .input-component {
  border-color: vars.$color-lines-dark;
}
