@use '../abstracts/variables' as vars;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  &__icon {
    display: flex;
    align-items: center;

    &--img {
      width: 50px;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    border-left: 2px solid vars.$color-lines-light;
    border-right: 2px solid vars.$color-lines-light;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: 1em;
    
    border-right: 2px solid vars.$color-lines-light;
    

    &:last-child {
      margin-right: 0;
      border: none;
    }
  }



  &__link {
    text-decoration: none;
    color: vars.$color-navbar-text-light;
    font-weight: 600;
    padding: 1em;
    transition: all 0.3s ease-in;

    &:hover {
      color: vars.$color-navbar-text-hover-light;
      background-color: vars.$color-navbar-hover-light;
    }
  }

  body.dark-mode & {
    &__link {
      color: vars.$color-gray300;

      &:hover {
        color: vars.$color-gray900;
        background-color: vars.$color-gray50;
      }
    }
  }
}
