@use '../abstracts/variables' as vars;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: 1px solid vars.$color-lines-light;

  &__icon {
    display: flex;
    align-items: center;
    border: 1px solid vars.$color-lines-light;

    &--img {
      width: 50px;
    }
  }

  &__list {
    list-style: none;
    padding: 1em;
    display: flex;
    border: 1px solid vars.$color-lines-light;
  }

  &__item {
    margin-right: 20px;
    border: 1px solid vars.$color-lines-light;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: vars.$color-navbar-text-light;
    font-weight: 600;
    transition: all 0.3s ease-in;

    &:hover {
      padding: 10px;
      color: vars.$color-navbar-text-hover-light;
      background-color: vars.$color-navbar-hover-light;
    }
  }

  body.dark-mode & {
    &__link {
      color: vars.$color-gray300;

      &:hover {
        color: vars.$color-gray900;
        background-color: vars.$color-gray50;
      }
    }
  }
}
