@use '../abstracts/variables' as vars;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: 1px solid vars.$color-gray700;

  &__icon {
    display: flex;
    align-items: center;
    border: 1px solid vars.$color-gray700;

    img {
      max-height: 40px;
      width: auto;
      animation: girar 8s linear infinite;
    }

    @keyframes girar {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-45deg);
      }
    }
  }

  &__list {
    list-style: none;
    padding: 1em;
    display: flex;
    border: 1px solid vars.$color-gray700;
  }

  &__item {
    margin-right: 20px;
    border: 1px solid vars.$color-gray700;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: vars.$color-gray600;
    font-weight: 600;
    transition: all 0.3s ease-in;

    &:hover {
      padding: 10px;
      color: vars.$color-gray50;
      background-color: vars.$color-gray900;
    }
  }

  body.dark-mode & {
    &__link {
      color: vars.$color-gray300;

      &:hover {
        color: vars.$color-gray900;
        background-color: vars.$color-gray50;
      }
    }
  }
}
